*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
}
