@import 'config';
@import 'utilities';

.App{
  max-width: none;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: $bg-mobile $primary-violet;
  background-position: -5% 0;
  background-size: contain;
  padding: 2.3rem;
  border-radius: .5rem;

  .App-header{
    position: relative;
    place-items: left;
    margin-bottom: 3.4rem;

    img{
      display: block;
      max-width: 41%;
    }
  }

  .content{
    display: flex;
    flex-direction: column;

    .image{
      img{
        max-width: 100%;
      }
      margin-bottom: 3rem;
    }

    .main{
      h2{
        font-size: 1.4rem;
        margin-bottom: 1rem;
        font: $poppins;
      }
      p{
        line-height: 1.5;
        font-size: .9rem;
        font-family: $opensans;
        text-align: center;
      }
      button{
        width: 60%;
        height: 2.3rem;
        border: none;
        border-radius: 2rem;
        font-size: .7rem;
        color: $primary-violet;
        // box-shadow: 0 .1rem .5rem 0 lighten(black, 20%);
        box-shadow: 0 .1rem .5rem 0 hsla(0, 0%, 0%, .5);
        margin: 1.5rem;
        cursor: pointer;
      }
      button:active{
        background-color: $primary-magenta;
        color: white;
      }
    }

  }
  .footer{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 3rem;
    justify-content: space-between;

    .footimg{
      display: block;
      margin: .4rem;
      border: 1px solid white;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      padding: 6px;
      cursor: pointer;
    }
    .footimg:active{
      color: $primary-magenta;
      border-color: $primary-magenta
    }
  }
}

@import 'desktop';